* {
  box-sizing: border-box;
}

:root{
  --accent-1: hsl(300, 43%, 22%); 
  --accent-2: hsl(333, 80%, 67%); 
  --dark-1: hsl(303, 10%, 53%); 
  --dark-1-transparent: hsla(303, 10%, 53%, 0.2);
  --dark-2: hsl(300, 24%, 96%);
  --light-1: hsl(0, 0%, 100%);
  --md-size: 15px; 
  --main-font: 'League Spartan', sans-serif;
  --normal-weight: 400;
  --semi-bold: 500; 
  --bold: 700;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--md-size);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.social-container {
  width: 20%; 
  min-width: 275px;
  margin: 3rem auto;
  background-color: var(--light-1);
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  padding: 1rem 0;
}

.container-header {
  text-align: center;
}

h1 {
  color: var(--accent-1);
  font-weight: var(--bold);
  padding: 0 1rem;
}

.header-text {
  color: var(--dark-1);
}

.review-wrapper {
  background-color: var(--dark-1-transparent);
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.stars {
  margin-top: 10px;
  margin-bottom: -10px;
}

.rating {
  font-weight: var(--semi-bold);
  color: var(--accent-1);
}

.testimonial-container {
  margin-top: 1.5rem;
}

.testimonial-card {
  background-color: var(--accent-1);
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.card-header {
  display: flex;
  align-items: center;
  
}

.user-name {
  color: var(--dark-2);
  font-weight: var(--semi-bold);
  margin-bottom: -10px;
}

.user-tag {
  color: var(--accent-2);
}

.user-comments {
  color: var(--light-1);
  font-weight: var(--semi-bold);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

@media (min-width: 800px) {
  .social-container {
    min-width: 800px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-size:33vmax, 33vmax;
  }

  .container-header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    margin-top: 5rem;
    margin-left: 10rem;
  }

  .headline {
    text-align: left;
    font-size: 32px;
    font-weight: var(--bold);
    width: 55%;
    min-width: 250px;
  }

  .header-text {
    text-align: left;
    width: 80%;
    min-width: 400px;
    padding: 0 1rem;
    font-size: var(--md-size);
  }

  .review-container {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    padding: 5rem;
  }

  .review-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    min-width: 350px;
    margin: 1rem 0;
  }

  .stars {
    margin: unset;
  }

  .mid > .stars {
    margin-left: 12px;  
  }

  .review-wrapper + .mid {
    margin-left: 30px;
  }

  .review-wrapper + .last {
    margin-left: 60px;
  }

  .testimonial-container {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    display: flex;
    margin-left: 4.5rem;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }

  .testimonial-card {
    width: 25%;
    min-width: 300px;
    margin: 0 1rem;
  }

  .testimonial-card + .mid {
    margin-top: 30px;
  }

  .testimonial-card + .last {
    margin-top: 60px;
  }
